<style>
    * {
        box-sizing: border-box;
    }

    .container {
        padding: 15px;
        display: flex;
        max-width: 800px;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-direction: column;
        border: solid 2px #8257e6;
        margin: auto;
    }

    .value {
        background: #8257e6;
        color: #fff;
        border-radius: 6px;
        width: 30px;
        margin: 2px;
        text-align: center;
        text-justify: center;
        text-decoration: none;
        padding: 10px;
    }

    .level {
        display: flex;
        justify-content: space-between;
        margin: 10px;
        width: 350px
    }

    .answers {
        
        max-width: 350px;
        margin: auto;
        display: flex;
        justify-content: space-between;
    }

    .center {
        display: flex;
        justify-content: center;
    }
</style>

<div class="container center">
    <label>ola <strong>{{name}}</strong! Tubo bem?></label>

    <h3 class="center">{{title}}</h3>
    <br />
    <strong class="center">{{description}}</strong>



    <div class="level">
        <span>Pouco provavel</span>
        <span>Muito provavel</span>
    </div>
    
    
    <div class="answers">
        <a class="value" href="{{Link}}/1?u={{user_id}}">1</a>
        <a class="value" href="{{Link}}/2?u={{user_id}}">2</a>
        <a class="value" href="{{Link}}/3?u={{user_id}}">3</a>
        <a class="value" href="{{Link}}/4?u={{user_id}}">4</a>
        <a class="value" href="{{Link}}/5?u={{user_id}}">5</a>
        <a class="value" href="{{Link}}/6?u={{user_id}}">6</a>
        <a class="value" href="{{Link}}/7?u={{user_id}}">7</a>
        <a class="value" href="{{Link}}/8?u={{user_id}}">8</a>
        <a class="value" href="{{Link}}/9?u={{user_id}}">9</a>
        <a class="value" href="{{Link}}/10?u={{user_id}}">10</a>
    </div>

    <br/>
    <br/>

    <strong class="center">Erikao | Development</strong>

</div>